tags:
  - {{ autoTag() }}
summary: weather data
description: Get the latest temperatures
operationId: {{ uniqueOpId() }}
parameters:
  - $ref: @oa3Parameters/pathId.yml.njk
responses:
  '200':
    description: Successful fetch
    content: {{ mixin("@oa3Mixins/response/json.yml.njk", "../../../../components/schemas/weather/model.yml.njk") }}
  '404':
    description: Temp not found
