{
  // Which files to not lint
  "ignorePatterns": [
    "node_modules",
    "**/__tests__/*.*"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "parserOptions": {
    // Only ESLint 6.2.0 and later support ES2020.
    "ecmaVersion": 2020
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0
  }
}
