.git
.git*
.git/*
githooks/
src/*
test-build/*
srcASYNC2/*
srcOA2/*
srcOA3/*
docs/*
coverage/*

.github/*
.babelrc
.eslintrc
.editorconfig
.env.example
.idea/
.prettierrc
.project
.settings
_config.yml
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
jest.config.js
tsconfig.json
