# all git things
.git*

# files
.eslintrc.js
_config.yml
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
jest.config.js
tsconfig.json
.babelrc
.eslintrc
.editorconfig
.env.example
.prettierrc
.project
.settings

# folders
.idea/
githooks/
docs/*
coverage/*
init-files/build
src/*
srcASYNC2/*
srcOA2/*
srcOA3/*
test-build/*
