type: object
properties:
  date:
    type: string
    format: date
  location:
    type: string
  cloudCoverPercentage:
    type: integer
  humidityPercentage:
    type: integer
  temperature:
    type: number
