description: When a new connection change occurs the new cache values are emitted in the payload
subscribe:
  operationId: {{fileName()}}
  message:
    contentType: application/json
    payload:
      $ref: ../components/schemas/{{fileName(true)}}
