tags:
  - weather
summary: One weather object
description: Get the full weather object
operationId: {{ uniqueOpId() }}
produces:
  - application/json
parameters:
  - $ref: ../../../../parameters/pathId.yml.njk
responses:
  '200':
    description: Successful fetch
    schema:
      $ref: ../../../../definitions/weather/model.yml.njk
  '404':
    description: Temp not found
