description: When a new connection change occurs the new cache values are emitted in the payload
publish:
  operationId: {{uniqueOpId('Publish')}}
  message:
    contentType: application/json
    payload:
      $ref: @/srcASYNC2/components/schemas/ms-auth/cacheUser.yml.njk
subscribe:
  operationId: {{uniqueOpId('Subscribe')}}
  message:
    contentType: application/json
    payload:
      $ref: ../../components/schemas/ms-auth/cacheUser.yml.njk

