tags:
  - {{ autoTag() }}
summary: Example Absolute Mixin Path
description: Use a schema which contains absolute paths to specified in the boatsrc file
operationId: {{ uniqueOpId() }}
responses:
  '200':
    description: Successful fetch
    content: {{ mixin("@oa3Mixins/response/absoluteTest.yml.njk", "../../components/schemas/weather/models.yml.njk") }}
  '404':
    description: Temp not found
