tags:
  - weather
summary: weather search
description: Search for weather objects
operationId: {{ uniqueOpId() }}
x-filename: {{ fileName() }}
parameters:
  - $ref: ../../../parameters/queryOffset.yml.njk
  - $ref: ../../../parameters/queryTextSearch.yml.njk
responses:
  '200':
    description: Successful fetch
    # Example use of the mixin helper from boats: https://johndcarmichael.github.io/boats/#/?id=mixin
    schema: {{ mixin("../../../mixins/response/pagination.yml.njk", "../../../definitions/generic/searchMeta.yml.njk", "../../../definitions/weather/model.yml.njk") }}
  '404':
    description: Temp not found
