asyncapi: 2.0.0
info:
  title: {{ packageJson('name') }}
  version: 1.0.1
  description: {{ packageJson('description') }}
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

defaultContentType: application/json

channels:
  $ref: ./channels/index.yml.njk

components:
  schemas:
    $ref: ./components/schemas/index.yml.njk

{{ inject([{
 toAllOperations: {
   content: {
     parameters: {
       streetlightId:{
         description: 'The ID of the streetlight.',
         schema:{
           type: 'string'
         }
       }
     }
   }
 }
}]) }}
