tags:
  - {{ autoTag() }}
summary: Example Relative Mixin Path
description: Use a mixin which contains a relative path
operationId: {{ uniqueOpId() }}
responses:
  '200':
    description: Successful fetch
    content: {{ mixin("../../mixins/response/relativePaths.yml.njk", "../../components/schemas/weather/models.yml.njk") }}
  '404':
    description: Temp not found
