swagger: "2.0"
info:
    version: {{ packageJson('version') }}
    title: {{ packageJson('name') }}
    description: A sample API
    contact:
        name: Swagger API Team
        email: 'john@boats.io'
        url: https://github.com/johndcarmichael/boats/
    license:
        name: Apache 2.0
        url: https://www.apache.org/licenses/LICENSE-2.0.html

host: api.example.com
basePath: /v1
schemes:
    - https
paths:
    $ref: paths/index.yml.njk
parameters:
    $ref: parameters/index.yml.njk
definitions:
    $ref: definitions/index.yml.njk

{{ inject([{
    toAllOperations: {
      exclude: ['/weather/latest'],
      content: {
        parameters: [{
          '$ref': '#/parameters/headerSearchId'
        }],
        responses: {
          '404': {
            description: 'Path & method combination not found'
          }
        }
      }
    }
  }]) }}
