tags:
  - weather
summary: lastest weather data
description: Get the latest temperatures
operationId: {{ uniqueOpId() }}
produces:
  - application/json
responses:
  '200':
    description: Successful fetch
    schema:
      $ref: @/srcOA2/definitions/weather/models.yml.njk
  '404':
    description: Temp not found
